<div class="container">
<div class="form-inline form-control-lg">
  <h3 class="col-sm-10">Employee Information</h3>
  <button type="button" class="btn btn-primary" (click)="addPeople()" >Add People</button>
</div>

<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <td>Name</td>
      <td>Age</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of emps">
    <td>{{data.value.inputName}}</td>
    <td>{{data.value.inputAge}}</td>
    <td><button type="button" class="btn btn-warning" (click)="editPeople(data)" >Edit</button>
    <button type="button" class="btn btn-danger" (click)="delPeople(data)" >Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
